* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--Dark-Blue, #202733);
}
.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 343px;
  height: 315px;
  padding: 40px 24px 64px;
  border-radius: 10px;
  background: var(--Dark-Grayish-Blue, #313a48);
  box-shadow: 30px 50px 80px 0px rgba(0, 0, 0, 0.1);
}

p {
  padding: 24px 0;
  width: 295px;
  color: var(--Light-Cyan, #cee3e9);
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.257px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 7px;
}
.div-id {
  display: flex;
}
.advice {
  color: var(--Neon-Green, #53ffaa);
  text-align: center;
  font-family: Manrope;
  font-size: 11px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.457px;
}
.advice-id {
  color: var(--Neon-Green, #53ffaa);
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 3.457px;
}
.advice-sign {
  color: var(--Neon-Green, #53ffaa);
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 3.457px;
}
.rectangle-des {
  display: none;
}
.svg-btn-div {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.svg-btn-div:hover {
  filter: drop-shadow(0 0 10px #53ffaa);
}

@media (min-width: 1440px) {
  .main-container {
    width: 540px;
    height: 332px;
    padding: 48px 48px 79px;
  }
  .advice {
    font-size: 13px;
  }
  .advice-id {
    font-size: 13px;
  }
  .advice-sign {
    font-size: 13px;
  }
  p {
    width: 444px;
    font-size: 28px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.3px;
  }
  .rectangle-mob {
    display: none;
  }
  .rectangle-des {
    display: block;
    margin-top: 9px;
  }
}
